@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --1pathlength: 0;
  --2pathlength: 0;
  --3pathlength: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.menu-item {
  @apply text-[1.25rem] font-semibold uppercase text-[#27272a] h-full cursor-pointer bg-transparent border-none outline-none
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .loz-footer-logo-1 {
    stroke-dasharray: var(--1pathlength);
    stroke-dashoffset: var(--1pathlength);
  }

  .loz-footer-logo-2 {
    stroke-dasharray: var(--2pathlength);
    stroke-dashoffset: var(--2pathlength);
  }

  .loz-footer-logo-3 {
    stroke-dasharray: var(--3pathlength);
    stroke-dashoffset: var(--3pathlength);
  }

  .footer-block {
    @apply flex flex-col justify-between mt-0
  }

  .circle {
    @apply w-3 h-3 m-[3px] bg-[#27272a] rounded-[50%]
  }


}

details[open] .menu-mobile {
  @apply rotate-[45deg]
}

details[open] .circle {
  @apply opacity-100
}

@keyframes cycle {
  0% {
    top: 0px;
  }

  10% {
    top: 0px;
  }

  20% {
    top: -115px;
  }

  30% {
    top: -115px;
  }

  40% {
    top: -230px;
  }

  50% {
    top: -230px;
  }

  60% {
    top: -345px;
  }

  70% {
    top: -345px;
  }

  80% {
    top: 0px;
  }



  100% {
    top: 0;
  }
}

.input-global {
  @apply p-6 text-[rgb(39_39_42)] rounded-[50px] text-[1.6rem] leading-[1.5] tracking-[.04em] appearance-none transition-shadow duration-100 h-[4.5rem] min-w-[7rem] relative flex-grow text-left;
  /* box-shadow: 0 0 0 calc(.1rem + 1px) rgb(18, 18, 18); */
}